<?xml version="1.0" encoding="utf-8" ?>

<!-- 
Machine Name: Exatron 901 Handler
Customer Company Name: Akoustis
-->


<configuration>
  <!--DO NOT TOUCH CONFIGSECTIONS-->
  <configSections>
    <section name="TCPConnection"
             type="Laborare.Core.Configuration.TCPConnectionConfig, Laborare.Core"/>

    <section name="RS232Connection"
             type="Laborare.Core.Configuration.RS232ConnectionConfig, Laborare.Core"/>

    <section name="IOLegend"
             type="Laborare.Core.Configuration.IOLegendConfig, Laborare.Core" />
    
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!--
        Metric Settings
        
        value = "inches" - motor position will be returned in inches through out the application
        value = "mm"     - motor position will be returned in millimeters through out the application
        -->
    <add key="metric_setting" value="inches"/>
    
    <!-- 
         Read IO Board Interval
         Desc: The delay in which the IOboards will be parsed for input signals.
         NOTE: Too low of a delay may cause the thread to crash the IO board. Recommended to leave at 100ms.
         -->
    <add key="read_io_interval" value="100" />
    
    <!-- 
         Number of Trays
         Desc: Specify the number of trays that will be used with this machine.
         -->
    <add key="number_of_trays" value="1" />
    
    <!--
         Number of Precisors
         Desc: Specify the number of precisor devices that will be used with this machine
         -->
    <add key="number_of_precisors" value="1" />
    
    <!--
         Number of Test Sites
         Desc: Specify the number of test sockets/sites that will be used with this machine
         -->
    <add key="number_of_testsockets" value="1" />
    
    <!--
         Number of Tapers
         Desc: Specify the number of Tapers that will be used with this machine
         -->
    <add key="number_of_tapers" value="1" />
  
  </appSettings>
  
  <!--
      TCPConnection Settings
      
      name - Device Name (required)
      ip   - IP Address for Device (required)
      port - Port Number for Device (required)
      type - Device Type (required) 
      uid  - Device ID (DO NOT CHANGE IF YOU DON'T KNOW WHAT YOU'RE DOING) 
      resolution - Device Resolution (not required, only for motors)
      -->
  <TCPConnection>
    <instances>
      <add name="y1_motor"
           ip="192.168.12.61"
           port="10001" 
           type="cm1"
           uid="1"
           resolution="-10000"/>

      <add name="z1_motor"
           ip="192.168.12.101"
           port="10001" 
           type="cm1"
           uid="1"
           resolution="-5000"/>

      <add name="taper"
           ip="192.168.12.121"
           port="10001" 
           type=""
           uid="1"/>
      
      <add name="tester"
           ip="127.0.0.1"
           port="8500" 
           type=""
           uid="0"/>   
    </instances>
  </TCPConnection>

  <!--
      RS232 Settings
      
      name - Device Name (required)
      port_name - COM Port Name (required)
      baud_rate - DON'T TOUCH IF YOU DON'T KNOW WHAT YOU'RE DOING
      databits - DON'T TOUCH IF YOU DON'T KNOW WHAT YOU'RE DOING
      read_timeout - Read Timeout in milliseconds
      write_timeout - Write Timeout in milliseconds
      type - Device Type (required)
      uid - Device ID (DO NOT CHANGE IF YOU DON'T KNOW WHAT YOU'RE DOING)
      resolution - Device Resolution (not required, only for motors)
      -->
  <RS232Connection>
    <instances>
      <add name="x1_motor"
           port_name="COM2"
           baud_rate="38400"
           databits="8"
           read_timeout="5000"
           write_timeout="5000"
           type="cm2"
           uid="1"
           resolution="-1000"/>

      <add name="r1_motor"
           port_name="COM3"
           baud_rate="9600"
           databits="8"
           read_timeout="5000"
           write_timeout="5000" 
           type="uirobot"
           uid="0"
           resolution="3200"/>
    </instances>
  </RS232Connection>

  <IOLegend>
    <legend>
      <!-- Board RP0003QJ -->
      <add signal="RP0003QJ.s0"
           function="DOOR_INTERLOCK"
           desc="Door Interlock 1"/>

      <add signal="RP0003QJ.s1"
           function="HALT_BUTTON"
           desc="Halt Button" />

      <add signal="RP0003QJ.s2"
           function="RUN_BUTTON"
           desc="Run Button" />

      <add signal="RP0003QJ.s7"
           function="EMO_BUTTON"
           desc="EMO" />

      <add signal="RP0003QJ.sol2"
           function="RUN_LIGHT"
           desc="Run Light"/>

      <!-- Board RP0003Q0 -->
      <add signal="RP0003Q0.s0"
           function="VAC_GENERATOR_SENSOR_1"
           desc="Vacuum Generator's Sensor"/>

      <add signal="RP0003Q0.s6"
           function="X1_HOME_SENSOR"
           desc="X1 Home Sensor"/>

      <add signal="RP0003Q0.sol1"
           function="Z1_AIR_VAC"
           desc="Z1 Air Vacuum"/>

      <add signal="RP0003Q0.sol2"
           function="Z1_AIR_BLOW"
           desc="Z1 Air Blow"/>

      <add signal="RP0003Q0.sol5"
           function="PRECISOR_VACUUM"
           desc="Precisor Vacuum"/>

      <add signal="RP0003Q0.sol6"
           function="SPARE_AIR_VALVE_2"
           desc="Air Spare Valve 2"/>

      <add signal="RP0003Q0.sol7"
           function="SPARE_AIR_VALVE_3"
           desc="Air Spare Valve 3"/>

      <add signal="RP0003Q0.sol8"
           function="SPARE_AIR_VALVE_4"
           desc="Air Spare Valve 4"/>
           
      <!-- Board RP0003PL -->
      <add signal="RP0003PL.s2"
           function="CAMERA_OUTPUT_1"
           desc="Camera Output 1: Total Status"/>

      <add signal="RP0003PL.s3"
           function="CAMERA_OUTPUT_2"
           desc="Camera Output 2: Busy" />

      <add signal="RP0003PL.sol1"
           function="BOWL_FEEDER_RELAY"
           desc="Bowl Feeder's Power Relay"/>

      <add signal="RP0003PL.sol2"
           function="DEAD_NEST_VALVE"
           desc="Dead Nest Valve" />

      <add signal="RP0003PL.sol4"
           function="CAMERA_INPUT_2"
           desc="Camera In 2"/>

      <add signal="RP0003PL.sol5"
           function="CAMERA_INPUT_3"
           desc="Camera In 2"/>

      <add signal="RP0003PL.sol6"
           function="CAMERA_INPUT_4"
           desc="Camera In 2"/>

      <add signal="RP0003PL.sol7"
           function="CAMERA_INPUT_5"
           desc="Camera In 2"/>

      <add signal="RP0003PL.sol8"
           function="CAMERA_INPUT_6"
           desc="Camera In 2"/>
      
      <!-- Board RP000329 -->
      <add signal="RP000329.s1"
           function="TAPE_RESULT"
           desc="Tape Inspection Result Pass/Fail"/>

      <add signal="RP000329.s2"
           function="GAP"
           desc="Gap"/>

      <add signal="RP000329.s4"
           function="HEATER_ALARM"
           desc="Heater Alarm"/>

      <add signal="RP000329.s5"
           function="SLACK_SWITCH"
           desc="Slack Switch"/>

      <add signal="RP000329.s6"
           function="TAPE_OUT_ERROR"
           desc="Cover Tape Out Error"/>

      <add signal="RP000329.s8"
           function="TAPE_RESULT_LATCH"
           desc="Tape Inspection Result Latch"/>

      <add signal="RP000329.s10"
           function="GAP_LATCH"
           desc="Gap Latch"/>

      <add signal="RP000329.s13"
           function="SLACK_SWITCH_LATCH"
           desc="Slack Switch Latch"/>

      <add signal="RP000329.s15"
           function="TAPE_OUT_ERROR_LATCH"
           desc="Cover Tape Out Error Latch" />

      <add signal="RP000329.sol1"
           function="SEAL_HEAD_DOWN"
           desc="Seal Head Down"/>

      <add signal="RP000329.sol2"
           function="CARRIER_TAPE_VACUUM"
           desc="Carrier Tape Vacuum"/>

      <add signal="RP000329.sol3"
           function="TAKE_UP_MOTOR_ON"
           desc="Take Up Motor On"/>

      <add signal="RP000329.sol4"
           function="VIBRATOR_ON"
           desc="Vibrator On"/>

      <add signal="RP000329.sol5"
           function="LOAD_INSPECTION_JOB"
           desc="Load Inspection Job"/>

      <add signal="RP000329.sol6"
           function="TOGGLE_SELECT_JOB_FILE"
           desc="Toggle Signal for Select Job File"/>

      <add signal="RP000329.sol7"
           function="CAMERA_LIGHT_ON"
           desc="Camera RED Light On"/>

      <add signal="RP000329.sol8"
           function="TRIGGER_CAMERA"
           desc="Trigger Keyence Camera"/>

      <add signal="RP000329.sol9"
           function="RESET_LATCHES"
           desc="Reset Latches"/>

      <add signal="RP000329.sol10"
           function="PROGRAMMING_BIT_0"
           desc="Programming Bit 0"/>
      
      <add signal="RP000329.sol11"
           function="PROGRAMMING_BIT_1"
           desc="Programming Bit 1"/>
           
      <add signal="RP000329.sol12"
           function="PROGRAMMING_BIT_2"
           desc="Programming Bit 2"/>
           
      <add signal="RP000329.sol13"
           function="PROGRAMMING_BIT_3"
           desc="Programming Bit 3"/>

      <add signal="RP000329.sol14"
           function="PROGRAMMING_BIT_4"
           desc="Programming Bit 4"/>
      
    </legend>
  </IOLegend>


</configuration>